<template lang="pug">
  .content-header
    h2.content-header-title Equipes
    ol.breadcrumb
      li
        a(v-link="'/'") Home
      li
        a(v-link="'/teams'") Equipes     
      li.active
        | Nova equipe
  teams-form(v-bind:errors="form.errors" v-on:team-submit="submit")
</template>

<script>
  import TeamsForm from '../../shared/teams/TeamsForm.component'
  
  export default {
    components: {
      TeamsForm
    },

    data() {
      return {
        form: {}
      }
    },

    methods: {
      submit(data) {
        this.$http.post(`${process.env.API_URL}/teams`, data).then(
          (response) => {
            this.form = response.json()
            if(!this.form.errors) {
              this.$router.go('/teams')
            }
          }
        )
      }
    }


  }
</script>