<template lang="pug">
  .content-header
    a.btn.btn-success.pull-right(v-link="'/teams/new'")
      i.fa.fa-plus
      |  Adicionar
    h2.content-header-title Equipes
    ol.breadcrumb
      li
        a(v-link="'/'") Home     
      li.active
        | Equipes
  teams-list(v-bind:list="list")
</template>

<script>
  import TeamsList from '../../shared/teams/TeamsList.component'
  
  export default {
    components: {
      TeamsList
    },
    
    data () {
      return {
        list: []
      }
    },

    methods: {
      getList () {    
        this.$http.get(`${process.env.API_URL}/teams`).then(
          (response) => {
            this.$set('list', response.json());
          }
        )
      }
    },

    ready () {
      this.getList();
    }
  }
</script>