<template lang="pug">
  form(v-on:submit="submit")
    .row
      .col-sm-8.col-sm-offset-2
        .row
          .col-sm-8.col-md-10
            .form-group(v-bind:class='{"has-error": errors.name}')
              label.control-label(for='team-name') Nome da equipe
              input#team-name.form-control(type='text', v-model='team.name')
              ul.parsley-error-list(v-if="errors.name")
                li(v-for="error in errors.name") {{error}}
          .col-sm-4.col-md-2
            .form-group(v-bind:class='{"has-error": errors.shortName}')
              label.control-label(for='team-short-name') Abreviação
              input#team-short-name.form-control(type='text', v-model='team.shortName')
              ul.parsley-error-list(v-if="errors.shortName")
                li(v-for="error in errors.shortName") {{error}}
        .row
          .col-sm-6
            .form-group(v-bind:class='{"has-error": errors.primaryColor}')
              label.control-label(for='team-colors') Cor primária
              #team-color-primary.input-group.colorpicker-component
                input.form-control(type='text', value='#000', v-model='team.primaryColor')
                span.input-group-addon
                  i
              ul.parsley-error-list(v-if="errors.primaryColor")
                li(v-for="error in errors.primaryColor") {{error}}
          .col-sm-6
            .form-group(v-bind:class='{"has-error": errors.secondaryColor}')
              label.control-label(for='team-color-secondary') Cor secundária
              #team-color-secondary.input-group.colorpicker-component
                input.form-control(type='text', value='#000', v-model='team.secondaryColor')
                span.input-group-addon
                  i
              ul.parsley-error-list(v-if="errors.secondaryColor")
                li(v-for="error in errors.secondaryColor") {{error}}
        .row
          .col-sm-4.col-sm-offset-8
            button.btn.btn-primary.form-control(type='submit') Enviar
</template>

<script>
  require('bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js')
  require('bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css')
  export default {
    props: {
      team: {
        default: () => { return {} }
      },
      errors: {
        default: () => { return {} }
      }
    },

    methods: {
      submit() {
        this.$emit('team-submit', this.team)
      }
    },

    ready() {
      $('.colorpicker-component').colorpicker({format: 'hex'})
    }

  }
</script>