<template lang="pug">
  .row
    .col-xs-12(v-if="list.length")
      table.table.table-striped
        thead
          tr
            th #
            th Nome
            th Cores
        tbody
          tr(v-for="team in list")
            td {{ team.id }}
            td 
              | {{ team.name }} 
              strong ({{ team.shortName }})
            td
              span.badge(v-bind:style="{ border: '1px solid #888', backgroundColor: team.secondaryColor }")
                i.fa.fa-2x.fa-shield(v-bind:style="{ color: team.primaryColor }")
    .col-xs-12(v-else)
      h2.text-center Nenhum time foi encontrado 
</template>

<script>
  export default {
    props: {
      list: {
        default: () => {
          return [];
        }
      }
    }
  }
</script>